<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="FATAL" monitorInterval="30">
  <Properties>
    <!-- default values should none be specified in configuraiton, and sys: lookup fails -->
    <Property name="studio.log.dir">./logs</Property>
    <Property name="studio.log.file">studio.log</Property>
    <Property name="studio.max.log.file.size">250 MB</Property>
    <Property name="studio.max.log.archives">10</Property>
  </Properties>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <!--Example JsonLayout that includes the file/line-number. MDC is populated via properties=true -->
      <!-- Docs: -->
      <!--https://logging.apache.org/log4j/2.x/manual/layouts.html#JSONLayout-->
      <!--<JsonLayout properties="true" locationInfo="true"/>-->

      <!--Example PatternLayout that includes the request ID and request timestamp-->
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} ID: %X{reqId} TS: %X{reqTs}- %msg%n"/>
    </Console>
    <RollingFile name="rollingfile" fileName="${sys:studio.log.dir}/${sys:studio.log.file}"
                 filePattern="${sys:studio.log.dir}/$${date:yyyy-MM}/${sys:studio.log.file}-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} ID: %X{reqId} TS: %X{reqTs}- %msg%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="${sys:studio.max.log.file.size}"/>
      </Policies>
      <DefaultRolloverStrategy max="${sys:studio.max.log.archives}"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <logger name="com.datastax.studio" level="warn" additivity="false">
      <AppenderRef ref="rollingfile"/>
    </logger>
    <logger name="com.datastax.studio.server" level="info" additivity="false">
      <AppenderRef ref="rollingfile"/>
    </logger>
    <logger name="com.datastax.studio.ide" level="warn" additivity="false">
      <AppenderRef ref="rollingfile"/>
    </logger>
    <logger name="com.datastax.driver" level="warn" additivity="false">
      <AppenderRef ref="rollingfile"/>
    </logger>
    <logger name="org.eclipse" level="warn" additivity="false">
      <AppenderRef ref="rollingfile"/>
    </logger>
    <logger name="org.apache.catalina" level="info" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="rollingfile"/>
    </logger>
    <logger name="org.springframework" level="error" additivity="false">
      <AppenderRef ref="rollingfile"/>
    </logger>
    <logger name="org.hibernate">
      <level value="error"/>
    </logger>
    <Root level="warn" additivity="false">
      <AppenderRef ref="rollingfile"/>
    </Root>
  </Loggers>
</Configuration>
