<!--
  ~ Copyright DataStax, Inc.
  ~
  ~ Please see the included license file for details.
  -->

<configuration scan="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <encoder>
            <pattern>%-5level %date{ISO8601} %c: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%-5level %date{ISO8601} %F:%L - %c: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
    </root>

    <logger name="com.datastax.driver.core.CodecRegistry" level="ERROR"/>
    <logger name="org.eclipse.jetty" level="ERROR"/>

     <!-- Settings to quiet third party logs that are too verbose -->
    <logger name="org.apache.spark.util.logging.FileAppender" level="OFF"/>
    <logger name="org.spark_project.jetty" level="WARN"/>
    <logger name="org.spark_project.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
    <logger name="org.apache.spark.repl.SparkIMain$exprTyper" level="INFO"/>
    <logger name="org.apache.spark.repl.SparkILoop$SparkILoopInterpreter" level="INFO"/>
    <logger name="org.apache.parquet" level="ERROR"/>
    <logger name="parquet" level="ERROR"/>

    <!-- SPARK-9183: Settings to avoid annoying messages when looking up
        nonexistent UDFs in SparkSQL with Hive support -->
    <logger name="org.apache.hadoop.hive.metastore.RetryingHMSHandler" level="FATAL"/>
    <logger name="org.apache.hadoop.hive.ql.exec.FunctionRegistry" level="ERROR"/>
</configuration>
